<div class="table-responsive">

  <table class="table">
    <caption>List of contacts</caption>
    <thead>
      <tr>
        <th scope="col">Nombre completo</th>
        <th scope="col">Fecha de nacimiento</th>
        <th scope="col">Correo electrónico</th>
        <th scope="col">Celular</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let contact of this.contacts">
      <tr>
        <td>{{contact.full_name}}</td>
        <td>{{contact.birthdate}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.cell_phone}}</td>
        <td><app-boton (click)="inicializarContacto(contact.id)" [txtButton]="'Editar'" [class]="'btn btn-warning'"
          data-bs-toggle="modal" data-bs-target="#formModifyContact"></app-boton></td>
      </tr>
    </tbody>

  </table>


</div>


<div class="modal fade" id="formModifyContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar contacto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <app-form-modify-contact [contactStored]="contactStored" [idContactStored]="idContactStored!"></app-form-modify-contact>
      </div>
    </div>
  </div>
</div>

