 <div class="container-fluid container-login">
  <div class="row align-items-center  vh-100">
    <div class="col-7 mx-auto ">
      <div class="card ">
        <div class="card-body">

          <form (ngSubmit)="logIn()">
            <div class="mb-3">
              <input type="email" class="form-control" [(ngModel)]="this.user.email" id="inputEmail"
               aria-describedby="emailHelp" name="email" placeholder="Correo electrónico" >
            </div>
            <div class="mb-3">
              <input type="password" class="form-control"
              placeholder="Contraseña" name="password"  [(ngModel)]="this.user.password" id="inputPassword" >
            </div>
            <div class=" d-grid gap-2">
              <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </div>

          </form>
          <hr>
          <div class="text-center">
            <app-boton [class]="'btn btn-success text-center'" txtButton="Crear nueva cuenta" data-bs-toggle="modal"
            data-bs-target="#formNewContact"></app-boton>
          </div>

        </div>
      </div>


    </div>
  </div>


</div>



<div class="modal fade " id="formNewContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form-new-user></app-form-new-user>
      </div>
    </div>
  </div>
</div>



